/Prácticas/práctica 3 - ProoOfConceptAutos/ProoOfConceptAutos/bin/Debug/*.dll
/Prácticas/práctica 3 - ProoOfConceptAutos/ProoOfConceptAutos/bin/Debug/*.exe
/Prácticas/práctica 3 - ProoOfConceptAutos/ProoOfConceptAutos/bin/Debug/*.pdb
bin
*.exe
