<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="equipo1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qcv5yant08.database.windows.net;initial catalog=equipo1;persist security info=True;user id=tsci;password=ads@13~~q34;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_socialsensorEntities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=123456;Persist Security Info=True;database=db_socialsensor&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEstaciones" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:40185/Estaciones.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IEstaciones" contract="ServiceReference1.IEstaciones"
        name="BasicHttpBinding_IEstaciones" />
    </client>
  </system.serviceModel>
</configuration>