<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ActualizacionSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ActualizacionApp/Actualizacion.asmx"
                binding="basicHttpBinding" bindingConfiguration="ActualizacionSoap"
                contract="ServicioActualizacion.ActualizacionSoap" name="ActualizacionSoap" />
        </client>
    </system.serviceModel>
</configuration>